#main {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 20px;
}
.pad {
  padding: 20px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(220, 220, 220);
  padding: 10px;
  /* padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px; */
}

ul {
  list-style-type: none; /* Remove bullet points */
  column-count: 4; /* Split into two columns */
}

#dormlist {
  /* padding-right: 400px;
  padding-left: 400px; */
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}